/.idea
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/sitemap.xml
/public/main_sitemap.xml
/public/blog_sitemap.xml
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
*.icloud